@media screen and (max-width: 1100px) {
  .main_title,
  .second_title {
    font-size: 40px;
    line-height: 50px;
  }
  .main_prg,
  .second_prg {
    font-size: 16px;
  }
  .card_title {
    font-size: 23px;
  }
}
@media screen and (max-width: 910px) {
  .main_title,
  .second_title {
    font-size: 35px;
    line-height: 40px;
  }
  .main_prg,
  .second_prg {
    font-size: 15px;
  }
  .w-25 {
    width: 30%;
  }
  .w-33 {
    width: 48%;
  }
  .card_title {
    font-size: 23px;
  }
}
@media screen and (max-width: 769px) {
  .container {
    width: 95%;
  }
  .w-20 {
    width: 30%;
  }
  .w-25 {
    width: 45%;
  }
}

@media screen and (max-width: 650px) {
  .left,
  .right {
    width: 100%;
    text-align: center;
  }
  .main_title,
  .second_title {
    font-size: 30px;
  }
  .main_prg,
  .second_prg {
    font-size: 14px;
  }
  .flex_box {
    gap: 40px;
  }
  .test {
    margin-top: 50px;
  }
  .w-33 {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  nav {
    display: none;
  }
  .menu_btn {
    display: block;
  }
  .w-20 img {
    width: 100%;
  }
  .w-25 {
    width: 100%;
  }
}
@media screen and (min-width: 450px) and (max-width: 650px) {
  .left img,
  .right img {
    width: 80% !important;
  }
  .left,
  .right {
    text-align: center;
  }
}
